<div class="container">
    <a href="" class="navbar-brand">
        <img src="https://pbs.twimg.com/profile_images/848937211152281600/Shgvyyvs_400x400.jpg" alt="Logo">
        Operand
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
            {{#link-to "users" class="nav-link"}}
                Usuários
            {{/link-to}}
            </li>
        </ul>
    </div>
</div>